@using EM.Model.VMs;
@using EM.Data.Infrastructure;
@using EM.Web.Core;
@using EM.Common;
@model PagedResult<ExpenseAccountListVM>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="w150">单号</th>
            <th class="w70 taR">报销人</th>
            <th class=" taR">公司名称</th>
            <th class="taR">费用大类</th>
            <th class="taR w80">报销日期</th>
            <th class="taR w80">金额</th>
            <th class="taR w100">总金额</th>
            <th class="w80 taR">录入日期</th>
            <th class="w80 taR">更新日期</th>
            <th class="taR w80">当前状态</th>
            <th class="taR w160">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var EA in Model.Results)
        {
            <tr data-id="@EA.Id" >
                <td>
                    @EA.EANumber
                </td>
                <td class="taR">
                    @EA.Name
                </td>
                <td class="taR">
                    @Html.Raw(string.Join("<br>",EA.List.Select(o=>o.CompanyName)))
                </td>
                <td class="taR">
                    @Html.Raw(string.Join("<br>",EA.List.Select(o=>o.CateName)))
                </td>
                <td class="taR">
                    @Html.Raw(string.Join("<br>", EA.List.Select(o => o.OccurDate.ToShortDateString())))
                </td>
                <td class="taR">
                    @Html.Raw(string.Join("<br>",EA.List.Select(o=>o.Money)))
                </td>
                <td class="taR">
                    @EA.SumMoney
                </td>
                <td class="taR">
                    @EA.ApplyDate.ToShortDateString()
                </td>
                <td class="taR">
                    @EA.ModifyDate.ToShortDateString()
                </td>
                <td class="taR pRel">
                    <a href="javascript:;" onclick="ShowApproveHistory(this,true)" class="showApprove">@EA.ApproveStatusName</a>
                    @if (EA.ApproveList != null && EA.ApproveList.Count > 0)
                    {
                        <div class="approveHistory hidden  pAbs pr5 cDDD bcFFF bra5 w300">
                            <ul class="ml5 mr5">
                                @foreach (var item in EA.ApproveList)
                                {
                                    <li class="fl fL20 wp100 taL">
                                        <span class="c000 mr5">@item.Creater</span>在<span class="ml5 mr5">@item.CreateDateName</span><span class="@item.StatusClass mr5">@item.StatusName</span>
                                        @if (!string.IsNullOrEmpty(item.FailReason))
                                        {
                                            <br><span class="fl ">@item.FailReason</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </td>
                <td class="taR">
                    <a data-commond="browse" onclick="Global.Form.NewIframe('查看报销单','browseexpenseaccount_@(EA.Id)','@Url.Action("Browse", new { id = EA.Id, IsApprove=true })')">查看</a>
                    @if (EA.ApproveStatus != (int)ExpenseAccountApproveStatus.PassApproved)
                    {
                        <a data-commond="updataapprovestatus" onclick="Global.Form.Confirm('@Url.Action("UpdataApproveStatus", new { Id = EA.Id, ApproveStatus = (int)ExpenseAccountApproveStatus.PassApproved })',this,false,'通过')">通过</a>
                    }
                    @if (EA.ApproveStatus != (int)ExpenseAccountApproveStatus.FailApproved)
                    {
                        <a data-commond="updataapprovestatus" onclick="Global.Form.Confirm('@Url.Action("UpdataApproveStatus", new { Id = EA.Id, ApproveStatus = (int)ExpenseAccountApproveStatus.FailApproved })',this,false,'不通过')">不通过</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pager", new PagerModel(Model.RowCount, Model.PageSize, Model.CurrentPage) { AjaxOptions = new PagerAjaxOptions() { HttpMethod = "Post", UpdateTargetId = "List", SearchFormId = "SearchForm" } })
