@using EM.Model.VMs;
@using EM.Data.Infrastructure;
@using EM.Web.Core;
@using EM.Common;
@model PagedResult<ExpenseAccountListVM>
<table class="table table-hover">
    <thead>
        <tr>

            <th class="w20 taL"><input type="checkbox" id="selectAll" /></th>
            <th class="w150">单号</th>
            <th class="w70 taR">报销人</th>
            <th class="w70 taR">录入人</th>  
            <th class="taR w100">总金额</th>
            <th class="w80 taR">录入日期</th>
            <th class="w80 taR">更新日期</th>
            <th class="taR w80">当前状态</th>
            <th class="taR w160">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var EA in Model.Results)
        {
            <tr data-id="@EA.Id" data-status="@EA.ApproveStatus">
                <td class="w20 taL"><input type="checkbox" /></td>
                <td>
                    @if (EA.IsPublic.HasValue && EA.IsPublic.Value)
                    {
                        <span class="glyphicon glyphicon-flag cRed" aria-hidden="true"></span>
                    }
                    @if (EA.IsNotAccount.HasValue && EA.IsNotAccount.Value)
                    {
                        <span class="glyphicon glyphicon-remove-sign cRed" aria-hidden="true"></span>
                    }
                    @EA.EANumber
                </td>
                <td class="taR">
                    @EA.Name
                </td>
                <td class="taR">
                    @EA.Creater
                </td> 
                <td class="taR">
                    @EA.SumMoney
                </td>
                <td class="taR">
                    @EA.ApplyDate.ToShortDateString()
                </td>
                <td class="taR">
                    @EA.ModifyDate.ToShortDateString()
                </td>
                <td class="taR pRel">
                    <a href="javascript:;" onclick="ShowApproveHistory(this,true)" class="showApprove">@EA.ApproveStatusName</a>

                    @if (EA.ApproveList != null && EA.ApproveList.Count > 0)
                    {
                        <div class="approveHistory hidden  pAbs pr5 cDDD bcFFF bra5 w300">
                            <ul class="ml5 mr5">
                                @foreach (var item in EA.ApproveList)
                                {
                                    <li class="fl fL20 wp100 taL">
                                        <span class="c000 mr5">@item.Creater</span>在<span class="ml5 mr5">@item.CreateDateName</span><span class="@item.StatusClass mr5">@item.StatusName</span>
                                        @if (!string.IsNullOrEmpty(item.FailReason))
                                        {
                                            <br><span class="cRed fl">原因：</span><span class="fl ">@item.FailReason</span>
                                        }
                                        @if (!string.IsNullOrEmpty(item.Note))
                                        {
                                            <br><span class="cRed fl">备注：</span><span class="fl ">@item.Note</span>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                </td>
                <td class="taR pRel">
                    <a data-commond="browse" onclick="Global.Form.NewIframe('查看报销单','browseexpenseaccount_@(EA.Id)','@Url.Action("Browse", new { id = EA.Id, IsApprove=true })')">查看</a>
                    <a data-commond="delete" onclick="Global.Form.Delete('@Url.Action("Delete", new {Id=EA.Id })',this,false)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="messageContent w200 hidden  p5 pFx ">
    <form>
        <input type="hidden" id="ApproveStatus" value="@((int)ExpenseAccountApproveStatus.FailApproved)" name="ApproveStatus" />
        <input type="hidden" id="Id" name="Id" />
        <table class="wp100">
            <tbody>
                <tr>
                    <td class="w40 taC">
                        原因
                    </td>
                    <td>
                        <textarea name="Message" id="Message" class="wp100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class=" taC">
                        备注
                    </td>
                    <td>
                        <textarea name="Note" id="Note" class="wp100"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class=" taC"></td>
                    <td>
                        <button type="button"  class="btn btn-primary btn-xs">
                            确认
                        </button>
                        <button type="button" class="btn btn-cancel  btn-xs">
                            取消
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
@Html.Partial("_Pager", new PagerModel(Model.RowCount, Model.PageSize, Model.CurrentPage) { AjaxOptions = new PagerAjaxOptions() { HttpMethod = "Post", UpdateTargetId = "List", SearchFormId = "SearchForm" } })
