@using EM.Model.VMs;
@model List<ExpenseAccountListVM>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="w150">单号</th>
            <th class="w80 taR">报销人</th>
            <th class="w80 taR">公司名称</th>
            <th class="taR">费用大类</th>
            <th class="taR">金额</th>
            <th class="taR">报销日期</th>
            <th class="taR">录入日期</th>
            <th class="taR">创建日期</th>
            <th class="taR">当前状态</th>
            <th class="taR">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var EA in Model)
        {
            <tr>
                <td>
                    @EA.EANumber
                </td>
                <td class="taR">
                    @EA.Name
                </td>
                <td class="taR">
                    @EA.CompanyName
                </td>
                <td class="taR">
                    @EA.CateName
                </td>
                <td class="taR">
                    @EA.Money
                </td>
                <td class="taR">
                    @EA.OccurDate.ToShortDateString()
                </td>
                <td class="taR">
                    @EA.ApplyDate.ToShortDateString()
                </td>
                <td class="taR">
                    @EA.CreateDate.ToShortDateString()
                </td>
                <td class="taR">
                    @EA.ApproveStatusName
                </td>
                <td class="taR">
                    <a data-commond="edit" onclick="window.parent.Global.Iframe.OpenIframe('编辑报销单','EditExpenseAccount_@(EA.Id)','@Url.Action("Edit", new { Id=EA.Id })',false)">编辑</a>
                    <a data-commond="delete" onclick="Global.Form.Delete('@Url.Action("Delete", new {Id=EA.Id })',this,false)">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
