@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs
@using EM.Common;
@using EM.Data.Infrastructure;
@model PagedResult<ExpenseAccountListVM>
@section Css{
    <link rel="stylesheet" href="~/Css/Programs/ExpenseAccount.css" type="text/css" />
}
@section Js{

<script src="~/Js/Program/ExpenseAccount.js"></script>
    <script>
        var ApproveFlag = 0;
        $(function () {
            //$("body").not(".showApprove").click(function () {
            //    if (ApproveFlag)
            //    $(".approveHistory").addClass('hidden')
            //})
            //$(".showApprove").mouseleave(function () {
            //    ApproveFlag = 1;
            //})
            //$(".showApprove").mouseover(function () {
            //    ApproveFlag = 0;
            //})
        })
    </script>
    <script>
        var ShowApproveHistory = function (ob,IsShow) {
                $(ob).next().toggleClass('hidden')
            //$('.approveHistory').addClass('hidden');
            //$('.approveHistory').prev().each(function () { $(this).attr('onclick', 'ShowApproveHistory(this,true)') });
            //if (IsShow) {
            //    $(ob).next().removeClass('hidden')
            //    $(ob).attr('onclick', 'ShowApproveHistory(this,false)');
            //}
            //else {
            //    $(ob).attr('onclick', 'ShowApproveHistory(this,true)');
            //    $(ob).next().addClass('hidden')
            //}
        }
    </script>
    }
<div class="SearchFrom">
    <form id="SearchForm" action="@Url.Action("ApproveIndex", "ExpenseAccount")">

        <button class="searchButton" data-commond="updataapprovestatuss" onclick="Global.Form.Confirms('@Url.Action("UpdataApproveStatuss", new { ApproveStatus = (int)ExpenseAccountApproveStatus.PassApproved })',$('table'),'批量通过报销单',MultiCheck)" type="button">通过</button>
        <button class="searchButton" data-commond="updataapprovestatuss" onclick="Global.Form.Confirms('@Url.Action("UpdataApproveStatuss", new { ApproveStatus = (int)ExpenseAccountApproveStatus.FailApproved })',$('table'),'批量不通过报销单',MultiCheck)" type="button">不通过</button>
        @Html.Partial("_SM")
    </form>

</div>

<div id="List">
    @Html.Partial("_ApproveList", Model)
</div>

