@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs
@using EM.Common;
@using EM.Data.Infrastructure;
@model PagedResult<ExpenseAccountListVM>
@section Css{
    <link rel="stylesheet" href="~/Css/Programs/ExpenseAccount.css" type="text/css" />
}
@section Js{
    <script>
        var ApproveFlag = 0;
        $(function () {
            $("body").not(".showApprove").click(function () {
                if (ApproveFlag)
                $(".approveHistory").addClass('hidden')
            })
            $(".showApprove").mouseleave(function () {
                ApproveFlag = 1;
            })
            $(".showApprove").mouseover(function () {
                ApproveFlag = 0;
            })
        })
    </script>
    <script>
        var ShowApproveHistory = function (ob,IsShow) {
                $(ob).next().toggleClass('hidden')
            //$('.approveHistory').addClass('hidden');
            //$('.approveHistory').prev().each(function () { $(this).attr('onclick', 'ShowApproveHistory(this,true)') });
            //if (IsShow) {
            //    $(ob).next().removeClass('hidden')
            //    $(ob).attr('onclick', 'ShowApproveHistory(this,false)');
            //}
            //else {
            //    $(ob).attr('onclick', 'ShowApproveHistory(this,true)');
            //    $(ob).next().addClass('hidden')
            //}
        }
    </script>
    }
<div class="SearchFrom">
    <form id="SearchForm" action="@Url.Action("ApproveIndex", "ExpenseAccount")">
        <input type="text" name="EANumber" value="" placeholder="单号">
        <input type="text" name="Name" value="" placeholder="报销人">
        <input type="text" name="CompanyID" value="" placeholder="公司名称">
        @Html.DropDownList("CateId", (SelectList)ViewBag.CateList, "请选择")
        @Html.DropDownList("CompanyId", (SelectList)ViewBag.CompanyList, "请选择")
        @Html.DropDownList("DateType", (SelectList)ViewBag.DateTypeList, "请选择")
        @Html.DropDownList("ApproveStatus", (SelectList)ViewBag.ApproveStatusList, "请选择")
        <input type="text" class="datepicker" placeholder="开始时间" name="SDate" />
        <input type="text" class="datepicker" placeholder="结束时间" name="EDate" />
        <button class="searchButton" type="submit">搜索</button>
    </form>

</div>

<div id="List">
    @Html.Partial("_ApproveList", Model)
</div>
