@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.Entities;
@using EM.Model.DTOs;
@using EM.Common;
@{
   
}
@model EM_ExpenseAccount
<form class="basic-grey">
    <h1>
        查看报销单
        <span></span>
    </h1>
    @Html.HiddenFor(o => o.Id)
    <label>
        <span>当前状态 :</span>
        <span class="view">@Enum.ToObject(ExpenseAccountApproveStatus.FailApproved.GetType(), Model.ApproveStatus).GetEnumDescription()</span>
    </label>
    <label>
        <span>报销单号 :</span>
        <span class="view">@Model.EANumber</span>
    </label>
    <label>
        <span>申请日期 :</span>
        <span class="view">@Model.ApplyDate.ToShortDateString()</span>
    </label>
    <label>
        <span>报销人 :</span>
        <span class="view">@Model.Name</span>
    </label>

    <label>
        <span>总金额 :</span>
        <span class="view">@Model.SumMoney</span>
    </label>
    @Html.Partial("_BodyList")
    <label data-commond="updataapprovestatus">
        <span>确认报销单</span>
        <select></select>

    </label>
</form>
@Html.Partial("_UploadField")
<div id="DetailUpdate">

</div>
<div id="bodyContent">

</div>
@section Js
{
    <script src="~/Js/Program/ExpenseAccount.js"></script>}