@using EM.Model.VMs;
@using EM.Utils;
@model ExpenseAccountFileVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    var IsPdf = Model.FileName.Contains("pdf");
    var Url = "../../" + Html.Raw(Model.FilePath.Replace("\\", "/"));
}
@section Js
{
    @{
        if (IsPdf)
        {
            <script type="text/javascript" src="~/Js/Third/pdf/pdfobject.js"></script>
            <script type="text/javascript">

                window.onload = function () {
                    var myPDF = new PDFObject({ url: "@Url" }).embed("FileContent");
                };

            </script>
        }
    }



}
<table class="m5 pAbs c333 w300 size14">
    <tr><td width="35%"></td><td></td></tr>
    <tr><td>单据号：</td><td>@(Model.EANumber ?? "保存后刷新页面")</td></tr>
    <tr><td>附件说明：</td><td>@StringUtil.HtmlEncode(Model.Remark)</td></tr>
    <tr><td>上传者：</td><td>@StringUtil.HtmlEncode(Model.UpLoader)</td></tr>
    <tr><td>附件名：</td><td>@StringUtil.HtmlEncode(Model.FileName)</td></tr>
</table>
<div class="wp100  " style="height: 2000px;width:1000px;text-align:center" id="FileContent">
    @if (!IsPdf)
    {
        <div class="taC wp100">
            <img style="max-width:80%" src="@Url" />
        </div>
    }

</div>
