@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs
@using EM.Common;
@using EM.Data.Infrastructure;
@model PagedResult<ExpenseAccountListVM>
<div class="SearchFrom">
    <form id="SearchForm" action="@Url.Action("Index", "ExpenseAccount")">
        <button class="searchButton" data-commond="deletes" onclick="Global.Form.Confirms('@Url.Action("Deletes")',$('table'),'批量删除报销单',MultiCheck)" type="button">删除</button>
        <button class="searchButton" data-commond="sumbitexpenseaccounts" onclick="Global.Form.Confirms('@Url.Action("SumbitExpenseAccounts")',$('table'),'批量提交报销单',MultiCheck)" type="button">提交</button>
        <button class="searchButton" data-commond="cancelexpenseaccounts" onclick="Global.Form.Confirms('@Url.Action("CancelExpenseAccounts")',$('table'),'批量撤销报销单',MultiCheck)" type="button">撤销</button>
        @Html.Partial("_SM")
    </form>

</div>

<div id="List">
    @Html.Partial("_List", Model)
</div>
@section Js
{
    <script src="~/Js/Program/ExpenseAccount.js"></script>}

