@{
    ViewBag.Title = "FeedbackManage";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}
@using EM.Model.VMs;
@using EM.Data.Infrastructure;
@using EM.Web.Core;
@using EM.Common;
@model PagedResult<SystemFeedbackVM>
@section Js{
    <script src="~/Js/Program/Feedback.js"></script>
}
<div class="SearchForm">
    <form id="SearchForm" action="@Url.Action("SystemMessageManage", "System")">
        @Html.DropDownList("Sender", (SelectList)ViewBag.userList, "发送者")
        @Html.DropDownList("Receiver", (SelectList)ViewBag.userList, "接受者")
        @Html.DropDownList("MessageType", (SelectList)ViewBag.messageTypeList, "类型")
        @Html.DropDownList("AlertedStstus", (SelectList)ViewBag.alertTypeList, "状态")
        @Html.DropDownList("DateTimeType", (SelectList)ViewBag.alertDateTypeList, "时间查询")
        <input type="text" class="datepicker" placeholder="开始时间" name="SDate" />
        <input type="text" class="datepicker" placeholder="结束时间" name="EDate" />
        <button class="searchButton" type="submit">搜索</button>
    </form>

</div>

<div id="List">
    @Html.Partial("_ListSystemMessageManage", Model)
</div>


