@using EM.Model.VMs;
@using EM.Data.Infrastructure;
@using EM.Web.Core;
@using EM.Common;
@model PagedResult<CompanyCateLimitVM>
@{
    var Cates = (List<KeyValueVM>)ViewBag.Cates;
}
<table class="table table-hover">
    <thead>
        <tr class="">
            <th class="w100  taC">公司</th>
            @foreach (var Cate in Cates)
            {
                <th class="w100   taC">@Cate.Value</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w100 taC"></td>
            @foreach (var Cate in Cates)
            {
                <td class="w100 taC"></td>
            }
        </tr>
        @foreach (var CCVM in Model.Results)
        {
            <tr data-id="@CCVM.CompanyId">
                <td class="taC">
                    @CCVM.CompanyName
                </td>
                @foreach (var CCl in CCVM.CompanyCateLimits)
                {
                    var Redlass =CCl.TotalRest<0?"cRed":"";
                    <td class="@Redlass taC  ">
                        <span class="curp" onmouseover="ShowRestDetail(this)" onmouseout="HiddenRestDetail(this)">@CCl.TotalRest.ToString().Replace(".00", "")</span> <br> 
                        <span class="hidden">@CCl.TotalCost.ToString().Replace(".00", "")-@CCl.TotalLimit.ToString().Replace(".00", "")</span> 
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Pager", new PagerModel(Model.RowCount, Model.PageSize, Model.CurrentPage) { AjaxOptions = new PagerAjaxOptions() { HttpMethod = "Post", UpdateTargetId = "List", SearchFormId = "SearchForm" } })
