@using EM.Model.VMs;
@model List<AccountDetailVM>
<table class="table table-hover">
    <thead>
        <tr>
            <th class="w50">编号</th>
            <th class="w150">登录账户</th>
            <th class="w80">用户名</th>
            <th>手机</th>
            <th>用户组</th>
            <th>状态</th>
            <th>上次修改时间</th>
            <th>最近登录时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var User in Model)
        {
            <tr>
                <td>
                    @User.UserId
                </td>
                <td>
                    @User.LoginEmail
                </td>
                <td>
                    @User.UserName
                </td>
                <td>
                    @User.Mobile
                </td>
                <td>
                    @User.RoleName
                </td>
                <td>
                    @User.StatusName
                </td>
                <td>
                    @User.ModifyTime
                </td>
                <td>
                    @User.LastLoginTime
                </td>
                <td>
                    <a data-commond="edit" onclick="window.parent.Global.Iframe.OpenIframe('编辑用户','SystemUser@(User.UserId)','@Url.Action("Edit", new { Id=@User.UserId })',false)">编辑</a>
                    <a data-commond="delete" onclick="Global.Form.Delete('@Url.Action("Delete", new { Id = User.UserId })',this,false)">删除</a>      
                </td>
            </tr>
        }
    </tbody>
</table>
